/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #0D1117;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

/* LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #161B22;
  padding: 20px;
  border-right: 1px solid #21262D;
}

.logo img {
  width: 140px;
  margin-bottom: 30px;
}

/* MENU */
.section-title {
  color: #BB949E;
  font-size: 12px;
  margin: 15px 0 10px;
  font-family: 'Syne', sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.menu-item {
  color: #BB949E;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.menu-item:hover,
.menu-item.active {
  background: #21262D;
  color: #fff;
}

/* MAIN */
.main {
  flex: 1;
}

/* HEADER */
.top-header {
  padding: 20px 30px;
  background: #161B22;
  border-bottom: 1px solid #21262D;
}

.top-header h1 {
  font-family: 'Syne', sans-serif;
  font-size: 18px;
}

/* CONTENT */
.content {
  padding: 30px;
}

.content h1 {
  font-family: 'Syne', sans-serif;
  margin-bottom: 5px;
}

.sub {
  color: #BB949E;
  margin-bottom: 20px;
}

/* SUBCARDS */
.cards {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  align-items: center;
  background: #161B22;
  border: 1px solid #21262D;
  border-radius: 14px;
  padding: 16px;
  transition: 0.2s;
}

.card:hover {
  border-color: #1A6FD4;
  transform: translateY(-2px);
}

.card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 20%;
  font-size: 16px;
}

.info h3 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Syne', sans-serif;
  line-height: 1;
}

.info p {
  font-size: 13px;
  color: #8B949E;
}

/* COLORES */
.card.total h3 { color: #58A6FF; }
.card.activos h3 { color: #3FB950; }
.card.inactivos h3 { color: #F85149; }
.card.admins h3 { color: #FACC15; }

/* 🔵 TOTAL */
.card.total .icono {
  background: rgba(26, 111, 212, 0.15);
  color: #58A6FF;
}

/* 🟢 ACTIVOS */
.card.activos .icono {
  background: rgba(35, 134, 54, 0.15);
  color: #3FB950;
}

/* 🔴 INACTIVOS */
.card.inactivos .icono {
  background: rgba(218, 54, 51, 0.15);
  color: #F85149;
}

/* 🟡 ADMINS */
.card.admins .icono {
  background: rgba(250, 204, 21, 0.15);
  color: #facc15;
}
/* FILTROS */
.filtros {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

/* INPUT */
#buscador {
  width: 500px;
  height: 50px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #21262D;
  background: #161B22;
  color: #fff;
}

/* BOTONES */
.botones {
  display: flex;
  gap: 8px;
}

.botones button {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #21262D;
  background: transparent;
  color: #8B949E;
  cursor: pointer;
}

.botones button.activo,
.botones button:hover {
  border: 1px solid #1A6FD4;
  background: rgba(26,111,212,0.15);
  color: #58A6FF;
}

/* TABLA */
.tabla-card {
  background: #161B22;
  border: 1px solid #21262D;
  border-radius: 12px;
}

.tabla-header,
.fila {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 15px;
}

.tabla-header {
  color: #8B949E;
  border-bottom: 1px solid #21262D;
  font-size: 12px;
}

.fila {
  border-bottom: 1px solid #21262D;
  font-size: 14px;
}

/* ESTADOS */
.estado {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  justify-self: start;
}

.estado-activo {
  border: 1px solid #238636;
  background: rgba(35,134,54,0.15);
  color: #3FB950;
}

.estado-inactivo {
  border: 1px solid #DA3633;
  background: rgba(218,54,51,0.15);
  color: #F85149;
}

/* ACCIONES */
.acciones {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.btn {
  border: 1px solid #1A6FD4;
  background: rgba(26,111,212,0.15);
  color: #1A6FD4;
}

.btn.toggle {
  border: 1px solid #facc15;
  background: rgba(250,204,21,0.15);
  color: #facc15;
}

.btn.delete {
  border: 1px solid #DA3633;
  background: rgba(218,54,51,0.15);
  color: #F85149;
}

.rol {
  color: #8B949E; /* gris como textos secundarios */
  font-size: 14px;
  display: inline-block;
  width: auto;
  white-space: nowrap;
}
.rol.admin {
  display: inline-block;

  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;

  border: 1px solid #facc15;
  background: rgba(250, 204, 21, 0.15);
  color: #facc15;

  width: fit-content;
}

/* ========================= */
/* CONTROL DE VISTAS */
/* ========================= */
.oculto {
  display: none ;
}

/* ========================= */
/* VISTA EDITAR (LAYOUT) */
/* ========================= */
#vista-editar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

/* CARD CENTRADA */
.edit-card {
  width: 100%;
  max-width: 520px;

  background: #161B22;
  border: 1px solid #21262D;
  border-radius: 16px;

  padding: 25px;
}

/* HEADER */
.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.edit-header h2 {
  font-family: 'Syne', sans-serif;
  font-size: 18px;
}

/* INPUTS */
.edit-card input,
.edit-card select {
  width: 100%;
  margin-top: 12px;

  padding: 12px;
  border-radius: 10px;

  border: 1px solid #30363D;
  background: #0D1117;
  color: #fff;

  font-size: 14px;
}

/* GRID */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.acciones-form {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* BOTÓN BASE */
.acciones-form .btn {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

/* CANCELAR (gris) */
#cancelarEditar {
  border: 1px solid #30363D;
  background: transparent;
  color: #8B949E;
}

#cancelarEditar:hover {
  background: #21262D;
  color: #fff;
}

#guardarEditar {
  border: 1px solid #1A6FD4;
  background: rgba(26,111,212,0.15);
  color: #58A6FF;
}

#guardarEditar:hover {
  background: #1A6FD4;
  color: #fff;
}

/* BOTÓN CERRAR */
#cerrarEditar {
  border: 1px solid #30363D;
  background: transparent;
  color: #8B949E;
}

#cerrarEditar:hover {
  background: #21262D;
  color: #fff;
}


